{% extends "myapp/base.html" %}

{% block title %}Gestionar Objetivos{% endblock %}

{% block content %}
    <h1>Gestionar Objetivos</h1>
    <ul>
        {% for objetivo in objetivos %}
        <li>
            {{ objetivo.nombre_objetivo }} - {{ objetivo.descripcion_objetivo }} - Perspectiva: {{ objetivo.perspectiva }}
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="id_objetivo" value="{{ objetivo.id_objetivo }}">
                <button type="submit" name="delete">Eliminar</button>
            </form>
            <a href="{% url 'editar_objetivo' objetivo.id_objetivo %}">Editar</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'crear_objetivo' %}">Crear Objetivo</a>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endblock %}
